/* Color Theme Swatches in Hex */
.color-theme_IMG-20230503-WA0018-removebg-preview-1-hex { color: #203B8C; }
.color-theme_IMG-20230503-WA0018-removebg-preview-2-hex { color: #184A8C; }
.color-theme_IMG-20230503-WA0018-removebg-preview-3-hex { color: #0D6BA6; }
.color-theme_IMG-20230503-WA0018-removebg-preview-4-hex { color: #9BDAF2; }
.color-theme_IMG-20230503-WA0018-removebg-preview-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #BFBFBF; }
.My-Color-Theme-2-hex { color: #FFFFFF; }
.My-Color-Theme-3-hex { color: #808080; }
.My-Color-Theme-4-hex { color: #404040; }
.My-Color-Theme-5-hex { color: #E6E6E6; }

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #93A7F9; }
.My-Color-Theme-2-hex { color: #81AADB; }
/* .My-Color-Theme-3-hex { color: #9BDAF2; } */
/* .My-Color-Theme-4-hex { color: #81D9DB; } */
.My-Color-Theme-5-hex { color: #93F9DF; }



