.flex_container,
.flex_container_inner{
    margin-top: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10;
    
}

.flex_container_inner{
    margin-top: 0px;
    margin-bottom: 10px;
}



.course_sets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.course_set_name,
.category_name{
    text-align: center;
}


.course_set {
	margin-right: 10px;
	padding: 5px;
    background-color: #10a5df3d;
}

.course-type{
    /* padding: 8px; */
}

.viewCourses {
	background-color: #10a5df3d;
	color: unset;
	margin: 0px 0px 5px 30px;
	 padding: 4px 8px; 
}

.open_course{
    background-color: #10a5dfcc;
    color: unset;
    padding: 5px;
    color: white;
    border-radius: 10px;

}

.flex_item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 320px;
    margin: 5px;
    align-items: center;
    background-color: white; 
    justify-content: center;
}

.remove_bg{
    background-color: unset;
}

.flex_item img{
    width: 300px;
    height: auto;

}

.flex_item p{
    padding: 5px;
}

.products{
    margin-top: 10px; 
/*   
    background-color: #81D9DB; */
     /* background-color: #25B7BB8A; */
    padding: 10px;
    background-color: #10a5df3d;
    
}

.purchased{
    /* background-color: #65d0fa; */
}

.category{
    
    padding: 0px 10px 10px 10px;
   
    
}

.product_category{
    /* border: 2px solid white; */
    padding-top: 5px;
    /* background-color: #0AD0D5;  */
     background-color: #25B7BB8A; 
    
}

.course_units a {
display: block;
margin-bottom: 10px;
}

.course_set_item{
    border: 2px dotted #13afec;
}

.popup{
    margin: 0px;
    background-color: #14bdfff7;
    padding: 40px 10px 10px 10px;
}

.pop_container {
	width: calc(100% - 20px);
	box-sizing: border-box;
	position: fixed;
	top: 120px;
	max-width: 1480px;
}

.close_set{
    position: fixed;
    top: 135px;
}

.filterDiv{
    background-color: #10a5df3d;
    padding-top: 10px;
    margin-top: 10px;
}

#purchase_history p{
    padding: 2px;
}

#purchase_history span{
    color: #137399;
}
