.flex_container,
.flex_container_inner{
    margin-top: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
    
}

.flex_container_inner{
    margin-top: 0px;
    margin-bottom: 10px;
}


.course_sets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
.course_set_name,
.category_name{
    text-align: center;
}


.course_set {
	
	padding: 5px;
    background-color: #10a5df3d;
}

.course-type{
    /* padding: 8px; */
}

.viewCourses {
	background-color: #10a5df3d;
	color: unset;
	margin: 0px 0px 5px 30px;
	 padding: 4px 8px; 
}

.open_course{
    background-color: #10a5dfcc;
    color: unset;
    padding: 5px;
    color: white;
    border-radius: 10px;

}

.flex_item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    margin: 5px;
    align-items: center;
    background-color: white; 
    justify-content: center;
}

.remove_bg{
    background-color: unset;
}

.flex_item img{
    width: 280px;
    height: auto;

}

.flex_item p{
    padding: 5px;
}

.products{
    margin-top: 10px; 
/*   
    background-color: #81D9DB; */
     /* background-color: #25B7BB8A; */
    /* padding: 10px; */
    background-color: #10a5df3d;
    
}


.category{
    
    padding: 0px 5px 5px 5px;  
}

.product_category{
    /* border: 2px solid white; */
    /* padding-top: 5px; */
    /* background-color: #0AD0D5;  */
     background-color: #25B7BB8A; 
    
}

.course_page {
    margin-top: 0px;
}

.course_units  {
    background-color: #10a5df3d; 
    padding: 10px;
    margin-bottom: 10px;
    }

.course_units .active{
    background-color: #13afec;
}
.course_set_item{
    border: 2px dotted #13afec;
}

.course_units a {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    }


.popup{
    margin: 0px;
    background-color: #14bdfff7;
    padding: 40px 10px 10px 10px;
}

.pop_container {
	width: calc(100% - 20px);
	box-sizing: border-box;
	position: fixed;
	top: 120px;
	max-width: 1480px;
}

.close_set{
    position: fixed;
    top: 135px;
}

.filterDiv{
    background-color: #10a5df3d;
    padding-top: 10px;
    margin-top: 10px;
}

#purchase_history p{
    padding: 2px;
}

#purchase_history span{
    color: #137399;
}

.course_sidenav{
    width: 300px;
    display: block;
    position: fixed;
    background-color: #6dcdf2;
    padding-top: 25px;
    left: 0px;
    top:90px;
}

.naira{
    margin-left: 5px;
}

.shiftNairaR{
    margin-right: -8px;
}

.shiftNairaL{
    margin-right: 3px;
}
#close {
    position: fixed;
    top: 105px;
    left: 260px;
    /* font-size: 36px; */
    border: 0px;
    background-color: #e64a4abd;
    /* padding: 0px 2px; */
    /* background-color: rgb(244, 248, 247); */
    /* color: black;
    background-color: unset; */
    /* display: none; */
}


.toggle {
    cursor: pointer;
    position: fixed;
    left: 130px;
    top: 67px;
    z-index: 4;
}

.toggle span {
    width: 30px;
    height: 6px;
    background-color: #203B8C;
    margin: 3px 0px 3px 6px;
    display: block;
    position: relative;
    bottom: 0px;
    cursor: pointer;
}


@media screen and (min-width:335px) {
    .flex_item {
        width: 320px;
       
    }
    
    .flex_item img{
        width: 300px;
        height: auto;
    
    }

}

@media screen and (min-width:370px) {
    .flex_item {
      
        width: 350px;
       
    }
    
    .flex_item img{
        width: 320px;
        height: auto;
    
    }

}

@media screen and (min-width:641px) {
    .course_sidenav{
        width: 25%;
        display: block;
        position: relative;
        background-color: unset;
        padding-top: unset;
        left: unset;
        top:unset;
    }
}

@media screen and (min-width:800px) {
    .course_sidenav{
        width: 20%;
        display: block;
        position: relative;
    }
}
