/* 

select {
    border: 0px;
    width: 280px;
    height: 30px;
}

input,
label,
textarea,
select {
    display: block;
}

textarea {
    height: 80px;
}

*/

input,
textarea,
select ,
.submitButton{
    margin-bottom: 10px;
} 

.formDiv{
    
}

input,
textarea {
    height: 30px;
    padding: 10px;
}

ol input[type=radio],
ol input[type=checkbox]{
    height: unset;
    margin-bottom: 0px;
    margin-right: 10px;
}

fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-height: 75vh;
    border: 0px;
    box-sizing: border-box;
}

form {
	display: flex;
	flex-direction: column;
}

.extraLogs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form, .extraLogs{
    width:100%;
}

#searchTitle{
    display: block;
}

input[type = checkbox]{
    height: unset;
    margin: 5px 5px 5px 2px;
}

input[placeholder] {
    text-align: center;
}


@media screen and (min-width:641px) {
  
    form, .extraLogs{
        width: 500px;
    }
}

@media screen and (max-width:330px) {
  
    fieldset{
        padding: 0px;
    }
}