* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main,
header,
section,
aside,
article,
nav,
footer {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  /* color: white; */
  color: white;
}

.no_padding{
  padding: 0px;
}

.no_margin{
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #E6E6E6; */
  background-color: #10a5df3d;
 
}

.bigwrapper {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
  background-color: #65d0fa;
  
 
}


header {
	height: 100px;
	position: fixed;
	width: 100%;
  max-width: 1500px;
  margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 10px;
	justify-content: space-between;
  background-color: #13afec;
  z-index: 1;
}

nav{
  /* width: 350px; */
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}

nav a{
  margin-left: 10px;
}

.cart-shop {
  width: 38px;
  height: 38px;
}

.cart span {
  position: absolute;
  background-color: #F2CB05;
  color: #0E05F2;
  padding: 1px 7px;
  border-radius: 50%;
  top: 20px;
  margin-left: -15px;
}

.logo_div img{
  width: 100px;
  height: auto;
}

.seperator{
  height: 100px;
}
main{
  padding: 10px;
  min-height:100vh; 
  min-height: calc(100vh - 175px); 
  
}

button{
  padding: 8px;
  border-radius: 50px;
  background-color: #2e61f8;
  color: white;
  border: 0px;
}


.backToTop {
    position: fixed;
    right: 5%;
    top: 63%;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    width: 40px;
    height: 50px;
    z-index: 150;
    padding: 2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    display: none;
} 



.help {
    text-indent: 0px;
    font-size: 18px;
    padding-right: 10px;
    color: green;
}


.backToTop a {
    color: white;
    font-size: 30px;
} 

.removeItem,.offline{
  background-color: #e64a4abd;
}
.offline{
  color:white;
  padding: 5px;
  text-align: center;
}
.purchaseHistory{
  background-color: #7895ec;
  margin: 10px auto;
  display: flex;

}

footer{
  text-align: center;
  background-color: #1C0B01;
  color: white;
  height: 100px;
  padding: 10px;
  
}

footer img{
  width: 35px;
  height: auto;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@media screen and (min-width:360px) {
  
  .logo_div img{
    width: 120px;
  }
  nav a{
    margin-left: 15px;
  }
  
}

@media screen and (min-width:641px) {
  
  .logo_div img{
    width: 150px;
  }

  nav a{
    margin-left: 30px;
  }
}