#lesson{
    background-color: white;
    padding: 20px;
    min-height: 250px;
    width: 100%;
    margin-top: 10px;
}

.controls {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.controls button{
    background-color: #506cc1;
}

ol{
    padding-left: 10px;
  }

li,.options{
    padding: 5px;
}

.questions{
    /* margin-bottom: 10px; */
    padding: 10px;
}

.questions:nth-child(even){
    background-color: #f8f8f8;
}

.correct,
.wrong,.retake{
    padding: 4px;
    color: white;
}


.correct{
    background-color: #1b9d1b;
}

.wrong{
    background-color: #e64a4abd;
   
}

.retake{border-radius: 10px;
    margin: 2px;
    background-color: #506cc1;

}

.submit_quiz {
margin: 10px 47%
}

.scoreboard{
background-color: #f8f8f8;
padding-bottom: 0px;
}

.video_lesson{
        width: 100%;
        height: auto;
        /* margin-top: 10px; */
}
@media screen and (min-width:641px) {
  
    #lesson{
        width: 73%;
    }
 
}


@media screen and (min-width:800px) {
  
    #lesson{
        width: 78%;
    }

}

@media screen and (min-width:1000px) {
  
    .video_lesson{
        width: 85%;
        height: auto;
}
}