#lesson{
    background-color: white;
    padding: 20px;
    min-height: 300px;
    width: 100%;
    margin-top: 10px;
}

.controls {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

@media screen and (min-width:641px) {
  
    #lesson{
        width: 73%;
    }
}


@media screen and (min-width:800px) {
  
    #lesson{
        width: 78%;
    }
}